<footer id="footer" role="contentinfo">
    <section>
      <nav arial-label="footer links and copyright">
        <div class="container">
          <div class="row">
            
              <ul class="list-unstyled">
                <li><a href="https://www.unlv.edu/directories/contact">Contact UNLV</a></li>
                <li><address><a href="https://www.unlv.edu/maps/campus">University of Nevada, Las Vegas<br />
                4505 S. Maryland Pkwy.<br />
                Las Vegas, NV 89154</a></address></li>
                <li><a href="tel:+17028953011">Phone: 702-895-3011</a></li>
                <li><a href="https://www.unlv.edu/info">Campus Notifications</a></li>
              </ul>
            
              </div><!--/.row-->
            </div><!--/.col-sm-12-->
          </div><!--/.row-->
        </div><!--/.container-->
      </nav>
    </section>
  </footer>