{% extends "layout.html" %}

{% block content %}
   
<div id="content">
  <div id="content-main" role="main" aria-label="main content">
    <div class="region region-content">

      <!--CONTENT BEGINS-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="clear-margin-top">Trainer Home</h3>
              <p>This is the main page for UNLV athletes to enter their workout information. They can participate in team workouts or individually. Using any available device to enter data.</p>
            </div><!--/.col-xs-12-->
            {% if current_user.is_anonymous %}
          	<div class="col-md-3">
              <div class="click-region">
                <div class="click-region-link"><a href="{{url_for('login')}}">Trainer Login</a></div>
                <div class="card">
                  <img class="card-img-top" src="static/images/weight-lifting-gym-900x607.jpg" alt="Gym-weights">
                  <div class="card-block">                   
                      <h4 class="card-title" aria-hidden="true">Trainer Login</h4>
                      <div>Login for trainer to access trainer specific fucntion.</div>                    
                  </div><!--/.card-block-->
                </div><!--/.card-->
              </div><!--/.click-region-->
            </div><!--/.col-md-4-->
            {% else %}
            <div class="col-md-3">
              <div class="click-region">
                <div class="click-region-link"><a href="{{url_for('logout')}}">Trainer Logout</a></div>
                <div class="card">
                  <img class="card-img-top" src="static/images/weight-lifting-gym-900x607.jpg" alt="Gym-weights">
                  <div class="card-block">                   
                      <h4 class="card-title" aria-hidden="true">Trainer Logout</h4>
                      <div>Logout trainer when finished.</div>                    
                  </div><!--/.card-block-->
                </div><!--/.card-->
              </div><!--/.click-region-->
            </div><!--/.col-md-4-->
            {% endif %}
            <div class="col-md-3">
              <div class="click-region">
                <div class="click-region-link"><a href="#">New Athlete Entry</a></div>
                <div class="card">
                  <img class="card-img-top" src="static/images/weight-lifting-gym-900x607.jpg" alt="Gym-weights">
                  <div class="card-block">
                    <h4 class="card-title" aria-hidden="true">New Exercise Entry</h4>
                    <div>Trainers can enter new workout exercises.</div>
                  </div><!--/.card-block-->
                </div><!--/.card-->
              </div><!--/.click-region-->
            </div><!--/.col-md-4-->
            <div class="col-md-3">
              <div class="click-region">
                <div class="click-region-link"><a href="#">Trainer Dashboard</a></div>
                <div class="card">
                  <img class="card-img-top" src="static/images/weight-lifting-gym-900x607.jpg" alt="Gym-weights">
                  <div class="card-block">
                    <h4 class="card-title" aria-hidden="true">Trainer Dashboard</h4>
                    <div>This allows the trainers and coaches to access their data via the Splunk dashboard interface</div>
                  </div><!--/.card-block-->
                </div><!--/.card-->
              </div><!--/.click-region-->
            </div><!--/.col-md-4-->
            <div class="col-md-3">
              <div class="click-region">
                <div class="click-region-link"><a href="{{url_for('biometric')}}">Biometric Data</a></div>
                <div class="card">
                  <img class="card-img-top" src="static/images/weight-lifting-gym-900x607.jpg" alt="Gym-weights">
                  <div class="card-block">
                    <h4 class="card-title" aria-hidden="true">Biometric Data</h4>
                    <div>Use this to enter any biometric data( height, wegiht, BMI, etc.) for any athlete on the current team.</div>
                  </div><!--/.card-block-->
                </div><!--/.card-->
              </div><!--/.click-region-->
            </div><!--/.col-md-4-->
            <div class="col-xs-12">
              <h4>This is for any additional athlete or team workout information</h4>
              <p class="clear-margin-bottom">Use this section for any advice for athletes relevant to the current workout session. Be sure to logout the team once everyone has completed their workout.</p>
          </div><!--/.row-->
        </div><!--/container-->
      </section>

      <!--CONTENT ENDS-->

    </div><!--/.region-content-->
  </div><!-- /#content-main-->
</div><!--/#content-->
{% endblock %}